@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500&display=swap');

@font-face {
 font-family: "Satoshi"; 
  src: url(../fonts/Satoshi-Medium.woff2) format("woff2"), url(../fonts/Satoshi-Medium.woff) format("woff");
font-display: swap;
font-weight: 500;
font-style: normal;
}


.wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative; 
    display:flex ;
    flex-direction: column;
  font-family: 'Unbounded';
  
   
  
  }
  [class*="__container"]{
  max-width:1210px ;
  margin: 0 auto; 
  padding: 0 10px;
  }

  /*-----------------header----------------------------*/
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
  @media (max-width:998px){
.header{
  background-color: #1D1D1B;
}
  }
  .header__container {
    padding-top: 15px;
    display: flex;
    color: #FFFFFF;
    font-family: 'Satoshi';
    text-transform: uppercase;
    align-items: center;
   justify-content: space-between;
  }
  .header__logo {
  }
  .header__navigation {
  }
  .header__title {
    display: flex;
    align-items: center;
    gap: 27px;
  }
  .header__list {
  }
  .header__link {
    font-size: 18px;
line-height: 1.7;



  }
  .header__decor {
    width: 8px;
height: 8px;
background-color: #3FD4B1;
  }
  @media (max-width:875px){
    .header__decor{
      display: none;
    }
  }
  .header__button {
    font-family: 'Unbounded';
line-height: 1.3;
text-transform: capitalize;
border: 1px solid #FFFFFF;
border-radius: 5px;
padding: 12.5px 16px;
cursor: pointer;
transition: all 0.5s ease;

  }
  .header__button:hover{
    background-color: #3FD4B1;
    box-shadow:  5px 5px 5px 5px #3fd4b118;
  }
  .header__burger{
    position: relative;
    display: none;
    width: 30px;
    height: 30px;
  }
  .header__burger span{
    position: absolute;
    width: 25px;
    height: 2px;
   background-color: #FFFFFF;
  }
  .header__burger span:nth-child(1){
    transform: translateY(20px);
  }
  .header__burger span:nth-child(3){
    transform: translateY(10px);
  }
  @media (max-width:778px){
    .header__burger{
      display: block;
    }
    .header__navigation{
      position: fixed;
      left: -100%;
      width: 100%;
      top: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.832);
        padding: 50px 30px 30px 30px;
transition: left 0.3s ease 0s;
overflow: auto;
    }
    .header__button{
      padding: 5px 5px;
      line-height: 1;
    }
    .header__navigation.active{
      left: 0;
    }
    .header__title {

     align-items: flex-start;
     flex-direction: column;
  
    
    }
    .header__list {
    }
    .header__link {
      font-size: 18px;
  line-height: 1.7;
  
  
  
    }
  }
/*-----------------------------------------------------------*/
/*--------------shevchuk---------------------*/
  .page{
  
  }
.shevchuk{
 
  background: url(../img/header/fon.png) 0 0/cover no-repeat;
}

.shevchuk__section{
  padding-top: 150px;
  display: flex;
  align-items: center;
}
@media (max-width:998px){
.shevchuk__section{
  flex-direction: column;
  
}
.shevchuk__title{
   font-size: 70px; 
   text-align: center;
}
}
/* ========================= */
@media (max-width:778px){
.shevchuk__section{
  padding-top: 80px;
}

}
.shevchuk__title{
  font-size: 100px;
line-height: 1.3;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #FFFFFF;
padding-right: 15px;
}
@media (max-width:778px){
  .shevchuk__title{
    font-size: 25px;
  }
  .shevchuk__text{
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }  
}


.shevchuk__title{
  transform: translateX(-100%);
  transition: all 2s;
  opacity: 0;
}
.shevchuk__title.active{
  transform: translateX(0);
 
  opacity: 1;
}
.shevchuk__text{
  line-height: 1.5;
letter-spacing: -0.02em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 30px;
}
.shevchuk__image{
  overflow: hidden;
  background: url(_b96f944c-aaa4-41b1-bed6-e4bfeec5efe9.jpg);
border-radius: 15px;
margin-bottom: 30px;
}
.shevchuk__image img{
  max-width: 100%;
}
@media (max-width:998px){
  .shevchuk__image img{
    width: 100%;
  } 
}
.shevchuk__button {

margin-right: 18px;
display: flex;
gap: 12px;

}
.button{
  align-items: center;
  transition: all 0.5s;
  font-size: 24px;
  line-height:1;
  color: #1D1D1B;
  padding: 23px 45px 25.5px 35px;
  background-color: #3FD4B1;
  border-radius: 5px;
}
.shevchuk__button::after{
content: "";
background: url(../img/sectionShevchuk/Arrow\ 3.svg) center no-repeat;
width: 27.76px;
height: 10px;
flex: 0 0 27.76;
}
.button:hover{
  background-color: transparent;
  border:2px solid #FFFFFF;
  color: #FFFFFF;
}
@media (max-width:998px){
  .shevchuk__button{
    width: 100%;
    padding: 10px;
    

  } 
}
@media (max-width:778px){
  .shevchuk__button{
    font-size: 16px;
  }
}
.shevchuk__info {
  display: flex;
  justify-content: space-between;
  margin-top: clamp(1.25rem, -0.5rem + 8.75vw, 6.063rem);
 flex-wrap: wrap; 
row-gap: 15px;
padding-bottom: clamp(0.313rem, -0.71rem + 5.11vw, 3.125rem);
}
@media (max-width:998px){
  .shevchuk__info{
    margin-top: 20px;
  }
  .shevchuk__subblock{
flex: 0 0 50%;
row-gap: 0;
justify-content: center;

  }
}

.shevchuk__subblock {
  display: flex;
  color: #FFFFFF;
  align-items: center;

}
.shevchuk__subblock::before{
  content: "";
  width:33px;
height: 49px;
background:url(../img/sectionShevchuk/decor.svg)center no-repeat;
}
.shevchuk__subblock::after{
  content: "";
  width: 33.7px;
height: 49px;
background:url(../img/sectionShevchuk/decor.svg)center no-repeat;
transform: rotate(180deg);
}
@media (max-width:1120px){
  .shevchuk__subblock::after{
  display: none;
  }
  .shevchuk__subblock::before{
    display: none;
     
    }
}
@media (max-width:400px){
.shevchuk__subblock{
  flex: 0 0 100%;
}
}
.shevchuk__value {
  font-family: 'Satoshi';
font-size: 24px;
margin-right: 8px;
}
@media (max-width:778px){
.shevchuk__value{
  font-size: 20px;
}
}
.shevchuk__information {
  font-size: 14px;
color: rgba(255, 255, 255, 0.6);
transform: matrix(1, 0, 0.02, 1, 0, 0);
}

/* =============================================================== */



/* section 2=========================================================== */
.servises {
  background: #24252A;
}
.servises__container {
  
}
.servises__block {
  padding-top: clamp(0.625rem, -1.193rem + 9.09vw, 5.625rem);
  display: flex;
  color: #FFFFFF;
  align-items: flex-start;
}
.servises__subblockone {
flex: 1 0 auto;
width: 50%;
}
.servises__list {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: clamp(0.938rem, -0.176rem + 5.57vw, 4rem);
  position: relative;
 
}
.servises__list::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5); 
  bottom: -32px;
  left: 0;
}
.servises__value {
  font-size: 12px;
line-height: 103%;
color: rgba(255, 255, 255, 0.5);
}
.servises__text {
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
line-height: 1.5;
}
.servises__subblocktwo {
 padding-left: 60px;
  
}
.servises__title {
  font-weight: 500;
font-size:clamp(1.563rem, 0.313rem + 6.25vw, 5rem);
line-height: 90%;
text-transform: uppercase;
text-shadow: 0px 4px 4px #1D1D1B;
transform: translateX(100%);
  transition: all 1s;
  opacity: 0;
}

.servises__title.active{
  transform: translateX(0);
 
  opacity: 1;
}
.servises__image img {
  max-width: 100%;
}
.servises__image{
  transform: translateX(100%);
  transition: all 1s;
  opacity: 0;
}
.servises__image.active{
  transform: translateX(0);
 
  opacity: 1;
}
@media (max-width:778px){
  .servises__block {
    flex-direction: column-reverse;
  }
.servises__title{
  text-align: center;
  margin-bottom: 15px;
}
.servises__image{
  display: none;
}
.servises__subblockone{
  width: 100%;
}
.servises__list::after{
  bottom:-10px ;
}
.servises__subblocktwo {
  padding-left: 0;
   
 }
}
/* ============================================================= */
/* section 3 choose==================================================== */
.choose {
}
.choose__container {
  display: flex;
}
.choose__block {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-top: clamp(0.938rem, -1.313rem + 11.25vw, 7.125rem);
  
  padding-bottom: clamp(0.313rem, -1.983rem + 11.48vw, 6.625rem);
  justify-content: flex-start;
}
.choose__title {
  flex: 1 1 auto;
  font-weight: 500;
font-size: clamp(1.563rem, 0.313rem + 6.25vw, 5rem);
line-height: 90%;
text-transform: uppercase;
transform: translateX(-100%);
  transition: all 1s;
  opacity: 0;
}
.choose__title.active{
  transform: translateX(0);

  opacity: 1;
}

.anim {
}
.choose__button {
  padding: 30px 104px;
}
.choose__button:hover {
  background-color: #7474702b;
  border: 1px solid black;
  color: black;
}
.button {
}
.choose__subblock {
  background: url(../img/choese/fon.jpg)0 0/cover no-repeat;
  color: #FFFFFF;
  padding:clamp(0.625rem, -0.284rem + 4.55vw, 3.125rem);
}
.choose__list {
  padding: 34px 50px;
  background: linear-gradient(107.5deg, rgba(196, 196, 196, 0.2) 2.85%, rgba(196, 196, 196, 0.02) 108.93%);
border: 1px solid rgba(255, 255, 255, 0.173);
border-radius: 15px;
margin-bottom: clamp(0.625rem, 0.307rem + 1.59vw, 1.5rem);
display: flex;
gap: 24px;
align-items: center;
}
.choose__decor {
  width: 8px;
  height: 8px;
  flex: 0 0 8px;
  background: #3FD4B1;
}
.choose__text {
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
}
@media (max-width:998px){
.choose__text{
  text-transform: lowercase;
  line-height: 1;
}
.choose__button{
  padding: 15px 30px;
  font-size: 20px;
}
}
@media (max-width:998px){
  .choose__container{
    flex-direction: column;
  }
  .choose__block{
  row-gap: 10PX;
    justify-content: center;
    padding-bottom: 15PX;
  }
  .choose__text{
    text-align: center;
    width: 100%;
  }
 
  .choose__button{
    width: 60%;
   
  }
  .choose__text{
    font-size: 1rem;
  }
  .choose__list {
    padding: 10px 15px;}
}
/* ================================================================== */
/* section4========================================================== */
.project {
  background-color: #24252A;

}
.project__container {
}
.project__block {
 
  display: flex;
  padding-top: clamp(0.313rem, -2.074rem + 11.93vw, 6.875rem);
  margin-bottom: 27px;
}
.project__title {
  font-weight: 500;
font-size:clamp(1.563rem, 0.313rem + 6.25vw, 5rem);
line-height:1.2;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 0px 4px 4px #000000;
transform: translateX(-100%);
  transition: all 1s;
  opacity: 0;
}
.project__title.active{
  transform: translateX(0);
  opacity: 1;
}
.anim {
}
.project__button {
  align-self: flex-end;
}
.project__click {
  padding: 20px 60px;
}
.button {
}
.project__subblock {
  display: flex;
  gap: 8px;
  
}
.project__column {
  background: #24252B;
border: 1px dashed #FFFFFF;
border-radius: 20px;
padding: 45px 12px 8px;
flex: 0 1 33.333%;
display: flex;
flex-direction: column;
}

.project__column{
  border: 2px solid black;
  transform: rotateY(90deg);
  transition: all 1s;
}
.project__column.active {
  transform: rotateY(0);
}
.project__image{
  position: relative;
padding-bottom: 60%;
margin-bottom: 20px;
}
.project__image img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.project__text {
  font-weight: 500;
font-size:clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
line-height: 100%;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: clamp(0.625rem, 0.216rem + 2.05vw, 1.75rem);
text-align: center;
flex: 1 1 auto;
}
.project__img{
 
  position: relative;
  padding-bottom: 60%;
}
.project__img img {
  width: 100%;
  height: 100%;
  

  position: absolute;
}
@media (max-width:822px){
.project__click{
  font-size: 20px;
  text-transform: lowercase;
 padding: 10px 20px; 
}
.project__subblock{
flex-direction: column;
}
}
@media (max-width:500px){
  .project__block {
 
  flex-direction: column;
  
    margin-bottom: 15px;
  }
  .project__button {
    align-self: flex-start;
  }
}
/* developer section 5============================================== */
.developer {
  margin-bottom:clamp(1rem, -0.682rem + 8.41vw, 5.625rem) ;
}
.developer__container {
  background: url(../img/fonsection5.jpg) 0 0/cover no-repeat;
 padding: clamp(0.625rem, -1.875rem + 12.5vw, 7.5rem);;
}
.developer__block {
  color: #FFFFFF;
  background: linear-gradient(107.5deg, rgba(196, 196, 196, 0.2) 2.85%, rgba(196, 196, 196, 0.02) 108.93%);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
overflow: hidden;
backdrop-filter: blur(10px);

border: 2px solid #dedee635;
border-radius: 20px;
}
.developer__text {
  padding-top: clamp(0.313rem, -0.256rem + 2.84vw, 1.875rem);
  font-size: 18px;
line-height: 100%;
letter-spacing: 10px;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 0px 4px 4px #1D1D1B;
transform: rotate(-0.17deg);
text-align: center;
margin-bottom: clamp(0.625rem, 0.17rem + 2.27vw, 1.875rem);
}
.developer__title {
  font-weight: 500;
font-size:clamp(1.563rem, 0.313rem + 6.25vw, 5rem);
line-height: 1;
text-transform: uppercase;
text-align: center;
text-shadow: 0px 4px 4px #1D1D1B;
margin-bottom:clamp(0.625rem, 0.17rem + 2.27vw, 1.875rem) ;
padding-left: clamp(0.313rem, -0.256rem + 2.84vw, 1.875rem);
padding-right: clamp(0.313rem, -0.256rem + 2.84vw, 1.875rem);
}
.developer__subblock {
display: flex;
border: 2px solid #dedee635;
}
.developer__column {
  flex: 0 1 33.333%;
  border: 2px solid #dedee635;
  padding: 54px 23px;
  text-align: center;
}
.developer__value {
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
line-height: 0.7;
position: relative;
margin-bottom: clamp(0.938rem, 0.142rem + 3.98vw, 3.125rem);
}
.developer__value::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 20%;
  left: 40%;
  bottom: -20px;
 background-color: #FFFFFF;
}
.developer__subtext {
  font-size: clamp(1rem, 0.795rem + 1.02vw, 1.563rem);
line-height: 1.3;
text-align: center;
text-shadow: 0px 4px 4px #000000;
}
@media (max-width:587px){
.developer__column{
  padding: 5px 0px;
  font-size: 14px;
  line-height: 1;
 
}
.developer__container{
   padding: 5px 0px; 
}
.developer__value::after{
  bottom: -10px;
}
}
/*dmytro===============================================  */
.dmytro {
}
.dmytro__container {
  display: flex;
  align-items: center;
}
.dmytro__image {
 
max-width: 80%
}
.dmytro__image img{
max-width: 100%;
}
.dmytro__column {
  flex: 0 1 60%;
}
.dmytro__name {
  font-weight: 500;
font-size: clamp(1.563rem, 0.994rem + 2.84vw, 3.125rem);
line-height: 1.1;
text-transform: uppercase;
color: #1D1D1B;
margin-bottom: clamp(0.625rem, 0.443rem + 0.91vw, 1.125rem);
}
.dmytro__info {
  line-height: 1.1;
text-transform: uppercase;
color: #5B5B5B;
margin-bottom: clamp(0.625rem, -0.011rem + 3.18vw, 2.375rem);
}
.dmytro__text {
  font-size: clamp(0.938rem, 0.733rem + 1.02vw, 1.5rem);
line-height: 150%;
color: #1D1D1B;
margin-bottom: clamp(0.625rem, 0.239rem + 1.93vw, 1.688rem);
}
.dmytro__img {
  text-align: end;
}
.dmytro__img img{
  max-width: 100%;
}
@media (max-width:778px){
.dmytro__container{
  flex-direction: column;
  row-gap: 10px;
}
.dmytro__image {
 
  max-width: 100%
  }
  .dmytro__name{
    text-align: center;
  }
  .dmytro__info{
    text-align: center;
  }
  
  .dmytro__img img{
    max-width: 10%;
  }
}
/* ============================================================ */
/* consult====================================================== */
.consult {
  background: url(../img/destination/fon1.jpg) 0 0/cover no-repeat;
}
.consult__container {
  padding-top: clamp(1rem, -0.227rem + 6.14vw, 4.375rem);
  padding-bottom: clamp(1rem, -0.227rem + 6.14vw, 4.375rem);
  height: 100%;
}
.consult__block {
  max-width: 650px;
  margin: 0 auto;
  color: #FFFFFF;
}
.consult__title {
  font-size: clamp(1.563rem, 0.994rem + 2.84vw, 3.125rem);
line-height: 1;
text-transform: uppercase;
margin-bottom: clamp(0.625rem, -0.057rem + 3.41vw, 2.5rem);
text-align: center;

}
.consult__skills {
  display: flex;
  justify-content: space-between;
  margin-bottom: clamp(0.625rem, 0.17rem + 2.27vw, 1.875rem);
}
.consult__destination {
  font-size: 12px;
line-height: 1.1;
display: flex;
align-items: center;
gap: 6px;
}
.consult__destination::before{
content: "";
background: url(../img/destination/Vector.svg) center no-repeat;
width: 12px;
height: 12px;
}
.consult__form {
}
.form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.form__input {
  flex: 0 1 50%;
  padding: 0 12px;
  margin-bottom: 20px;
}
.consult__input {
  background: url(_5225147b-c871-43a3-8661-f0f5fde84a6e.jpg);
  border: 1px solid #8f8f8a8b;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;

}
.consult__input.error{
  box-shadow: 0 0 15px red;
}
.select {
  
}
.select__column{
 position: relative;
}
.select__title {
  cursor: pointer;
  background: url(_5225147b-c871-43a3-8661-f0f5fde84a6e.jpg);
  border: 1px solid #8f8f8a8b;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border-radius: 10px; 
  color:#8f8f8a8b ;
  padding-top: 5px;
  margin-bottom:clamp(0.375rem, 0.148rem + 1.14vw, 1rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  
}
.select__title::after{
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/destination/Polygon\ 1.svg) center no-repeat;
}

.select__block {
  position: absolute;
  top: 105%;
  left: 2%;
right: 0;

display: none;
}
.select__block.active{
  display: block;
}
.select__list {
  cursor: pointer;
  color:#d2d2c48b ;
  border: 1px solid #8f8f8a8b;
  padding: 8px 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  transition: all 0.3s;
  font-size: 12px;
  background-color: #5B5B5B;
  transition: all 1s;
}
.select__list:hover{
  background-color: #cec7c73b;
  color: white;
}

.form__input--area{
  flex: 0 1 100%;
}
.form__text{
  width: 100%;
  resize: vertical;
  min-height: 100px;
  background-color: transparent;
  border: 1px solid #8f8f8a8b;
   padding: 10px 0 0px 15px;
  border-radius: 10px;
}
.form__input--button{
  flex: 0 1 100%;
}
.form__button{
  width: 100%;
  padding:clamp(0.313rem, -0.119rem + 2.16vw, 1.5rem);
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
}
@media (max-width:450px){
.consult__skills{
  flex-direction: column;
  row-gap: 5px;
}
.form {
  font-size: 12px;
}
}
/* ======================================== */
.footer{
background: url(../img/destination/fon1.jpg)0 0/cover no-repeat;
padding-top: clamp(0.625rem, -0.284rem + 4.55vw, 3.125rem);
border: 1px solid #FFFFFF;
padding-bottom: clamp(0.625rem, -0.443rem + 5.34vw, 3.563rem);
position: relative;
}
.footer::after{
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  background-color: white;
  left: 50%;
  bottom: 0;
}
.footer__container {
  display: flex;
  color: white;
 
}
.footer__block {
 flex: 0 1 50%;

}
/* .footer__block--border{
  border-right: 2px solid white;
} */
.footer__image {
  text-align: center;
  margin-bottom: clamp(0.625rem, 0.057rem + 2.84vw, 2.188rem);
}
.footer__image img{
  max-width: 100%;
}
.footer__column{
  display: flex;
}
.footer__subblock {
  margin-bottom: clamp(0.625rem, -0.284rem + 4.55vw, 3.125rem);
}
.footer__title {
  font-size:clamp(1.25rem, 0.682rem + 2.84vw, 2.813rem);
  text-transform: capitalize;
}
.footer__links {
  font-size: 14px;
line-height: 2;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.5);
}
.footer__text {
  line-height: 2;
text-transform: uppercase;
color: #FFFFFF;
}
.footer__about {
  font-weight: 500;
font-size: 14px;
line-height: 1.1;
color: rgba(255, 255, 255, 0.52);
}
.info-footer {
  padding-left: 20px;
}
.info-footer__title {
  font-size: clamp(1.125rem, 0.943rem + 0.91vw, 1.625rem);
line-height: 150%;
text-transform: uppercase;
color: #3FD5B1;
margin-bottom: clamp(0.625rem, 0.148rem + 2.39vw, 1.938rem);
}
.info-footer__column{
  display: flex;
  justify-content: space-between;
}
.info-footer__subblock {

}
.info-footer__contacts {
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: clamp(0.625rem, 0.284rem + 1.7vw, 1.563rem);
}
.info-footer__info {
  line-height: 1.1;
text-transform: uppercase;

color: #FFFFFF;

}
.info-footer__link {
  margin-bottom: clamp(0.625rem, 0.284rem + 1.7vw, 1.563rem);
  display: inline-block;
}
.info-footer__cite img {
  border-radius: 50%;
  border: 2px solid white;
  padding: 3px;
  margin-left: clamp(0.625rem, 0.284rem + 1.7vw, 1.563rem);
}
.info-footer__cite img:first-child{
margin-left: 0;
}
.info-footer__cite img:last-child{
  border-radius: 0;
  border: 0;
  padding: 0;
}
@media (max-width:998px){
  .footer__column{
    flex-direction: column;
    row-gap: 8px;
  }
  .footer__title{
    text-align: center;
  }
  .info-footer__column{
    flex-direction: column;
    row-gap: 5px;
  }
}
@media (max-width:630px){
.footer::after{
  display: none;
}
.footer__container{
  flex-direction: column;
  row-gap: 5px;
}
.info-footer__title{
  margin-bottom: 5px;
}
.info-footer__title{
  line-height: 1.1;
}
.info-footer {
  padding-left: 0px;
}
.footer__links {
  font-size: 12px;
line-height: 1;

}
.footer__text {
  line-height: 1;

}
}
